<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href = "/guestbook.css">
<script src="https://ajax.googleapis.com/ajx/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body >
<header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="container">
                          
              <div class="navbar-header">
               
                  <a class="navbar-brand" href="#">Purna Medarametla</a><br />
                  </div>
                  <div class="navbar">
                  <a  href="home.html">Home</a>
                  <a href="MyChoice.html">My Choice</a>
                  <a href="Contact.html">Contact</a>
                  <a class="active" href="#guestbook">GuestBook</a>
                </div>
              </div>
            </div>
              </nav>    '
              '
</header>
<h1>
Purna's GuestBook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
</body>