*{
   background-color:lightsteelblue;
}

h1{
    color:green;
}


.navbar {
    overflow: hidden;
    background-color: black;
  }

.navbar a{
    float: left;
    width:150px;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
  }

.navbar a.active
{
   background-color:olivedrab;
   color: white;

}

